#formulario{
    background-color: #242323;
    padding: 2%;
    border-radius: 20px;
    width: 100%;
    padding-bottom: 5%;
}
#formulario>h3{
    text-align: center;
    color: #7B34D6;
    font-size: 20px;
}
#formulario>label{
color: white;
display: block;
margin-left: 5%;
margin-bottom: 2%;
}
#formulario>input{
    background-color: #242323;
    border: #7B34D6 solid 1px;
    border-radius: 18px;
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    padding-left: 5%;
    color: white;
}
#perfil{
    display: none;
}
#main{
    min-height: 93vh;
}
#formulario>input:focus {
    outline: none;
    box-shadow: none;
}
#formulario>select:focus {
    outline: none;
    box-shadow: none;
}
#guardar{
    text-align: center;
    color: white;
    background-color: #7B34D6;
    border-radius: 20px;
    width: 40%;
    margin-left: 30%;
    padding: 1%;
    margin-top: 4%;
}
.custom-file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #242323;
    color: #7B34D6;
    padding:2%;
    border: #7B34D6 1px solid ;
    border-radius: 20px;
    text-align: center;
    width: 90%;
}

.custom-file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    display: inline-block;
    color:#7B34D6;
    text-align: center;
}
#formulario>select{
    background-color: #242323;
    color: #7B34D6;
    border: #7B34D6 1px solid;
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    border-radius: 20px;
    padding-left: 5%;
}

#botones{
    display: flex;
    margin-top: 3%;
}
#botones>a{
    width: 40%;
    padding: 2%;
    border: #7B34D6 2px solid;
    background-color: #242323;
    border-radius: 20px;
    margin-left: 5%;
    text-align: center;
    color: #7B34D6;
}
#botones>button{
    background-color: #7B34D6;
    width: 40%;
    color: white;
    border-radius: 20px;
    margin-left: 10%;
}
.cbx {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid #7B34D6;
    border-radius: 3px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
   }
   
   .cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
   }
   
   .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
   }
   
   #cbx:checked ~ .cbx {
    border-color: transparent;
    background: #7B34D6;
    animation: jelly 0.6s ease;
   }
   
   #cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
   }
   
   .cntr {
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
   }
   .cntr>label{
    color: white;
    margin-right: 3%;
   }
   
   @keyframes jelly {
    from {
     transform: scale(1, 1);
    }
   
    30% {
     transform: scale(1.25, 0.75);
    }
   
    40% {
     transform: scale(0.75, 1.25);
    }
   
    50% {
     transform: scale(1.15, 0.85);
    }
   
    65% {
     transform: scale(0.95, 1.05);
    }
   
    75% {
     transform: scale(1.05, 0.95);
    }
   
    to {
     transform: scale(1, 1);
    }
   }
   
   .hidden-xs-up {
    display: none!important;
   }
   
@media (min-width: 821px){
    #perfil{
        display: block;
    }
    #formulario{
        background-color: #242323;
        padding: 2%;
        border-radius: 20px;
        width: 60%;
        padding-bottom: 5%;
        margin-left: 20%;
    }
    #main{
        min-height: 100vh;
    }
}