body{
    background-color: #202125;
}
#info>header{
    background-color:#202125 ;
    display: flex;
    height: 7vh;
    padding: 2%;
}
#menu,#campana{
    width: 10%;
    cursor: pointer;
}
#menu{
    margin-right: 80%;
}
#img_perfil{
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
#info>h2,#info>h3{
    color: white;
    text-align: center;

}
#cambiar_info{
    background-color:#6C1DD0;
    color: white;
    border-radius: 20px;
    padding: 1%;
    width: 46%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contenedor_foto{
    position: relative;
    display: inline-block;
    margin-bottom: 5%;
}
#info_per{
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}
#info_per > h3{
    color: #b3b5bd;
    font-size: larger;
    margin-bottom: 3%;
}
.datos_personales{
    display: flex;
    margin-bottom: 2%;
}
.titulo_dato{
    color: #c9cbd1;
    margin-left: 5%;
    margin-right: 1%;
    font-size: 14px;
}
.info_dato{
    color: white;
    font-size: 14px;
}
#main{
    background-color: #373636;
    padding: 2%;
    padding-top: 3vh;
}
#cont_menu{
    position: relative;
    transition: opacity 0.1s ease-in-out;
}
#cont_menu.clicked {
    opacity: 1;
}
#cont_menu.close {
    opacity: 0;
}
#cont_menu> div{
    position: fixed;
    z-index: 9999;
    display: block;
}
#cont_menu>div>a{
    display: block;
    text-align: center;
    color: white;
    background-color: #6C1DD0;
    width: 170px;
    padding: 3%;
}
#contrasenia{
    border-radius: 20px 20px 0 0 ;
    border: white 1px solid;
}
#salir{
    border-radius: 0 0 20px 20px;
    border: white 1px solid;
}
#cont_menu>div>a:hover{
    background-color: #6112c9;
}
#confirmar_info{
    background-color: #6C1DD0;
    display: flex;
    color: white;
    border-radius: 20px;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    margin-bottom: 2%;
}
#incorrecto_info{
    border-radius: 20px;
    width: 60%;
    margin-left: 20%;
    color: #6112c9;
    border: #6112c9 1px solid;
    text-align: center;
}
@media (min-width: 821px){
    #contenido{
        display: flex;
    }
    #info{
        width: 30%;
    }
    #main{
        width: 70%;
        min-height: 100vh;
        padding-top: 7vh;
    }
}